body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #1f1f1f;
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.target {
    width: 10vw;
    height: auto;
    position: absolute;
}

.score, .timer {
    color: white;
}

